<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    
    
     <!-- CSS FILES -->        
     <link rel="preconnect" href="https://fonts.googleapis.com">
        
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

     <link href="css/bootstrap.min.css" rel="stylesheet">

     <link href="css/bootstrap-icons.css" rel="stylesheet">

     <link href="css/owl.carousel.min.css" rel="stylesheet">

     <link href="css/owl.theme.default.min.css" rel="stylesheet">

     <link href="css/new.css" rel="stylesheet">
     <style>
        aside div ul li {
            padding: 0 px;
            margin: 0px 10px ;
            align-self: center;
        }
        .nav-item {
            margin: 0 10px;
        }
     </style>
    <title>Doctors</title>
</head>
<body style="padding-top: 50px;">
    <header>
        <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg" style="padding: 0;">
            <div class="container " style="margin:0dp;">
                <a class="navbar-brand " href="index.html" style="margin:0dp;">
                    Medic Care
                    <strong class="d-block">Health Specialist</strong>
                </a>

				<div class="">
				   <form th:action="@{/logout}" method="post">
				   <input type="submit" class="from-control btn btn-outline-danger" value="Logout">
				   </form>
				</div>
             
            </div>
        </nav>
    </header>
    <div class="content-area">
        <aside>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid" st>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <div style="justify-content: space-between;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Default</label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Checked</label>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" >
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled</label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked >
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <select class="form-select  " aria-label=".form-select-lg example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </li>
                        <li class="nav-item">
                            <select class="form-select  " aria-label=".form-select-lg example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            </select>
                        </li>
                    </ul>
                   </div>
                    
                    <form class="d-flex col align-self-center" role="search" >
                      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit" style="margin: 0px 10px;">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </aside>
        <main>
            <div class="docter-container">
                <div class="card docter" th:each="p:${doctors}" >
                    <div class="thumbnail">
                    <a th:href="@{doctorProfile(id=${p.id})}">
                        <img class="card-img-top" th:src="${p.image}" alt="">
                       </a>
                    </div>
                    <div class="docteur-details ">
                        <div class="docteur-info">
                            <span th:text="${p.name}"></span>
                            <strong class="d-block" th:text="${p.specialist}"></strong>
                        </div>
                        <div  th:id="${p.review}" class="reviews-stars"  >
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
    </div>
    
    
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/scrollspy.min.js"></script>
        <script src="js/custom.js"></script>

   	<script type="text/javascript">

   	var a=document.getElementsByClassName("reviews-stars");

   	for(let e=0;e<a.length;e++){

   	for(let i=0;i<5;i++){
   		var b=document.createElement("i");
   		if(i<a[e].getAttribute("id")){
   			b.setAttribute("class","bi-star-fill");
   			a[e].appendChild(b);	
   		}
   		else{
   			b.setAttribute("class","bi-star");
   			a[e].appendChild(b);	
   		}
   	}
   	}
   	
   	
   	function getName(){
   	  var nameVal=$("#name").val();
   	$.ajax({
   	  type: "GET",
   	  url: "http://localhost/TP22/TP22.php",
   	  data:{name:nameVal,age:31},
   	  success: function (response) {
   	    $("#contenu").html(response);
   	  }
   	});

   	}

   	</script>

</body>
</html>