<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1" >
<title>Login</title>
<link href="css/sing.css" rel="stylesheet">

</head>
<body>
<p class="tip"></p>
<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <form th:action="@{/login}" method="post">
	    <label>
	      <span>Username </span>
	      <input type="text" name="username"/>
	    </label>
	    <label>
	      <span>Password</span>
	      <input type="password" name="password"/>
	    </label>
	     <p class="forgot-pass">Forgot password?</p>
    	<button type="submit" class="submit">Sign In</button>
    </form>
   
<!--     <button type="button" class="fb-btn">Connect with <span>facebook</span></button> -->
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover tons of doctors!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      <form th:action="@{/signup}" class="signup" method="post">
	     
	      <label>
	        <span>First Name</span>
	        <input type="text" name="firstname" th:value="${patient.firstname}"/>
	      </label>
	      <label>
	        <span>Last Name</span>
	        <input type="text" name="lastname" th:value="${patient.lastname}" />
	      </label>
	      <label>
	        <span>Username</span>
	        <input type="text" name="username" th:value="${user.username}" />
	      </label>
	            <label>
	        <span>CIN</span>
	        <input type="text" name="cin"  th:value="${patient.cin}"/>
	      </label>
	      <label>
	        <span>Email</span>
	        <input type="email" name="email" th:value="${patient.email}"/>
	      </label>
	      <label>
	        <span>Password</span>
	        <input type="password"  name="password" th:value="${user.password}"/>
	      </label>
	      <label>
	        <span>Adrress</span>
	        <input type="text" name="adrress" th:value="${patient.adrress}" />
	      </label>
	      <label>
	        <span>Birthday</span>
	        <input type="date" name="birthday"  th:value="${patient.birthday}"/>
	      </label>
	      <label>
	        <span>Phone Numbre</span>
	        <input type="tel" name="phonenumbre" th:value="${patient.phonenumbre}" />
	      </label>
	      <button type="submit" class="submit" style="grid-column: 1/3;">Sign Up</button>
	   </form>
    </div>
  </div>
</div>

<script type="text/javascript" >

document.querySelector('.img__btn').addEventListener('click', function() {
	  document.querySelector('.cont').classList.toggle('s--signup');
	});
</script>

</body>
</html>